{% extends "base.html" %}

{% block custom-styles %}
    <link rel="stylesheet" href="static/css/welcome-style.css" type="text/css">
{% endblock %}

{% block page_content %}
    <section class="hero-section" style="background-image: url(static/images/pawel-czerwinski-1A_dO4TFKgM-unsplash.jpg);">
        <div class="hero__content">
            <span>
                <h1>Make the world
                    <!-- Scroller Start-->
                    <div class="scroller">
                        <span>
                            Kinder<br>
                            Better<br>
                            Easier
                        </span>
                    </div>
                </h1>
                <h2>Welcome to Charity Code, a platform where developers can<br>
                    make a difference in the world by using their skills for good.</h2>
                    <a href="" style="color: white;"><h3>Learn more</h3></a>
            </span>
        </div>
    </section>
    <section class="body-container">
        <div class="missions-container">
            <h2 class="title-position__right">Our missions</h2>
            <div class="missions-text__grid">
                <div class="mission-self"><h4><span class="text-gradient">To build a community:</span> Coding for charity aims to build a community
                    of developers, charities, and non-profits who share a common goal of using technology to make a positive impact on society.
                    </h4>
                </div>
                <div class="mission-self"><h4><span class="text-gradient">To build a community:</span> Coding for charity aims to build a community
                    of developers, charities, and non-profits who share a common goal of using technology to make a positive impact on society.
                    </h4>
                </div>
                <div class="mission-self"><h4><span class="text-gradient">To build a community:</span> Coding for charity aims to build a community
                    of developers, charities, and non-profits who share a common goal of using technology to make a positive impact on society.
                    </h4>
                </div>
            </div>
        </div>
        <div class="projects-container">
            <h2 class="title-position__left">Our Projects</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum laborum, nesciunt asperiores, modi autem, voluptatibus voluptatum illum placeat est corrupti sunt eos doloribus magnam aliquid cupiditate unde quo labore cumque.</p>
            <div class="container">
                <div class="card">
                    <a href="">
                        <div class="card-bg" style="background-image: url(static/images/ink-cartridges-in-printer-picjumbo-com.jpg);">
                            <div class="content">
                                <p class="card-categories">categories</p>
                                <h3 class="card-heading">Example card heading</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="">
                        <div class="card-bg" style="background-image: url(static/images/ink-cartridges-in-printer-picjumbo-com.jpg);">
                            <div class="content">
                                <p class="card-categories">categories</p>
                                <h3 class="card-heading">Example card heading</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="">
                        <div class="card-bg" style="background-image: url(static/images/ink-cartridges-in-printer-picjumbo-com.jpg);">
                            <div class="content">
                                <p class="card-categories">categories</p>
                                <h3 class="card-heading">Example card heading</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="">
                        <div class="card-bg" style="background-image: url(static/images/ink-cartridges-in-printer-picjumbo-com.jpg);">
                            <div class="content">
                                <p class="card-categories">categories</p>
                                <h3 class="card-heading">Example card heading</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="reasons-to-join__container">
            <h2 class="title-position__left">Reasons to join</h2>
            <div class="grid_container">
                <div class="box"><h4><span class="content-highlight">Make a positive impact: </span>
                    By joining a code for charity platform, you will be able to contribute your skills and
                    expertise to support causes and organizations that are working towards making a positive impact in the world.
                    </h4>
                </div>
                <div class="box"><h4><span class="content-highlight">Make a positive impact: </span>
                    By joining a code for charity platform, you will be able to contribute your skills and
                    expertise to support causes and organizations that are working towards making a positive impact in the world.
                    </h4>
                </div>
                <div class="box"><h4><span class="content-highlight">Make a positive impact: </span>
                    By joining a code for charity platform, you will be able to contribute your skills and
                    expertise to support causes and organizations that are working towards making a positive impact in the world.
                    </h4>
                </div>
                <div class="box"><h4><span class="content-highlight">Make a positive impact: </span>
                    By joining a code for charity platform, you will be able to contribute your skills and
                    expertise to support causes and organizations that are working towards making a positive impact in the world.
                    </h4>
                </div>
                <div class="box"><h4><span class="content-highlight">Make a positive impact: </span>
                    By joining a code for charity platform, you will be able to contribute your skills and
                    expertise to support causes and organizations that are working towards making a positive impact in the world.
                    </h4>
                </div>
                <div class="box"><h4><span class="content-highlight">Make a positive impact: </span>
                    By joining a code for charity platform, you will be able to contribute your skills and
                    expertise to support causes and organizations that are working towards making a positive impact in the world.
                    </h4>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}<script src="scripts/redirect_sign_up.js"></script>{% endblock %}