<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//db.onlinewebfonts.com/c/4dec905cb04b15142d24364af98cc2d1?family=GraphikLCGLight" 
        rel="stylesheet" type="text/css"/>
    <link type="text/css" rel="stylesheet" href="register-style.css"/>
    <title>Charity Code - Register</title>
</head>
<body>
    <div class="container">
        <div class="form-box">
            <form action="" name="Formfill">
                <div class="register-label">
                    <img src="static/white-code-svgrepo-com.svg">
                    <h3>Charity Code</h3>
                </div>
                <h2>Register</h2>
                <div class="input-box">
                    <input type="text" name="Username" placeholder="Username">
                </div>
                <div class="input-box">
                    <input type="email" name="Email" placeholder="Email">
                </div>
                <div class="input-box">
                    <input type="password" name="Password" placeholder="Password">
                </div>
                <div class="input-box">
                    <input type="password" name="cPassword" placeholder="Confirm password">
                </div>
                <div class="button">
                    <input class="submit-btn" type="submit" value="Register">
                </div>
                <div class="group">
                    <span><a href="#">Forgot password?</a></span>
                    <span><a href="#">Log in</a></span>
                </div>
            </form>
        </div>
    </div>
</body>
</html>